{{!-- <div class="sidebar-wrapper">
  <menu>
    {{#if active}}
      <menuitem>Suscripción activa</menuitem>
<<<<<<< HEAD
    {{else}}
      {{#link-to 'subscriptions.options'}}Suscribirse{{/link-to}}
=======
    	{{else}}
      {{#if mp_payment_link}}
        <menuitem class="btn btn-lg btn-suscribe" {{bind-attr href=mp_payment_link}} target="_blank" {{action 'subscribe_mp'}}>Suscribirse</menuitem>
      {{/if}}
>>>>>>> d80c105362187ce3c1d7fbcd99e7979c9dfc5703
    {{/if}}
  </menu>
</div> --}}

<div class="sidebar-wrapper">
	<ul class="nav nav-pills nav-stacked menu">
		{{!-- {{#if active}} --}}
		<li><a href="#">Revisar suscripcíon</a></li>
		<li class="divider"></li>
		{{!-- {{else}}
    {{#if mp_payment_link}} --}}
		<li class="suscribir">
			<div class="btn btn-lg btn-suscribe" {{bind-attr href=mp_payment_link}} target="_blank" {{action 'subscribe_mp'}}>Suscríbase y sea feliz</div>
		{{!-- {{/if}}
    {{/if}} --}}
		</li>
		<li><a href="#">Revisar perfil</a></li>
		<li class="divider"></li>
		<li><a href="#">Contáctenos</a></li>
		<li class="divider"></li>
		<li><a href="">Preguntas frecuentes</a></li>
		<li class="divider"></li>
		<li class="logout">
			<a href="" class="sign-out" {{action 'logout'}}>Cerrar sesión</a>
			{{!-- <button class="sign-out fa fa-sign-out" {{action 'logout'}} title="Salir">
				Cerrar sesión
			</button> --}}
		</li>
		<li class="divider"></li>
	</ul>
</div>
