{{#if isSending}}
<div class="alert alert-info" role="alert">
  <p class="bg-info">
    Procesando. Aguarde un momento por favor, le estamos creando un lugar en nuestro sistema.
  </p>
</div>
{{else}}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 login-extend">
      <h3 class="text-center tittle-login">Crea tu cuenta Gratis</h3>
      <p class="small text-center txt-barcelona">
        Teniendo tu cuenta, podrás leer la Revista Barcelona, acceder desde
        cualquier dispositivo, teniendo todo en un solo lugar.
      </p>
      <form role="form" {{action "create" on="submit"}}>
          <div class="form-group">
            <label class="small" for="InputEmail">Ingrese su correo</label>

              {{input type="email" value=username id="username" placeholder="hola@ejemplo.com" name="InputEmail" class="form-control"}}

          </div>
          <div class="form-group">
            <label class="small" for="InputPassword">Contraseña</label>

            {{input type="password" value=password id="password" placeholder="Contraseña" name="InputPassword" class="form-control"}}

          </div>
          <div class="form-group">
            {{!-- <label class="small" for="InputPassword">Repita su contraseña</label> --}}

            {{!-- aca se tendria que modificar para el que verifica que las contraseñas sean iguales --}}
            {{input type="password" value=password id="password" placeholder="Repita su contraseña" name="InputPassword" class="form-control"}}

          </div>
          <button type="submit" class="btn btn-primary btn-block">Registrarte</button>
        </form>
        <span class="signup text-center block">
          {{#link-to 'users.login'}}Ingresar con una cuenta existente{{/link-to}}
        </span>
    </div>
  </div>
</div>
{{/if}}
