<nav class="barcelona-nav navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand bracelona-logo" href="#">Revista Barcelona</a>
    </div>
    <div class="collapse navbar-collapse pull-right">

    </div>
  </div>
</nav>

{{#if userNotValid}}
<h1>Error! usuario no valido</h1>
{{/if}}

<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 social-login">
                <a class="btn btn-block btn-social btn-lg btn-facebook" {{action "authenticate"}}>
                    <i class="fa fa-facebook"></i>
                    Igrese con Facebook
                </a>

                <a class="btn btn-block btn-social btn-lg btn-google-plus" {{action "authenticate"}}>
                    <i class="fa fa-google-plus"></i>
                    Ingrese con Google
                </a>
            </div>

            <div class="col-sm-7 custom-login">
                <span class="separator">ó</span>

                <form role="form" class="login-form" {{action "authenticate" on="submit"}}>
                    <div class="form-group">
                      {{input type="email" placeholder="Usuario" name="InputUsername" value=username class="form-control input-lg"}}
                    </div>

                    <div class="form-group">
                      {{input type="password" placeholder="Contraseña" name="InputPassword" value=password class="form-control input-lg"}}
                    </div>

                    <button type="submit" class="btn btn-block btn-lg btn-primary btn-enter">Ingrese</button>

                    <div class="login-assistance">
                      <span class="signup">{{#link-to 'users.create'}}Cree su cuenta{{/link-to}}</span>
                      |
                      <span class="forgot-password">{{#link-to 'users.recover'}}¿Olvidó su contraseña?{{/link-to}}</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
